<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>birdplanOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCD70F471EA0AB4B0061F8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD70F601EA0AB4C0061F8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD70F6B1EA0AB4C0061F8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
